body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav .nav-link{
  padding-right: 0;
  padding-left: 5px;
}

/* dark mode */
:root {
  --dark: rgb(23, 39, 54);
  --light: rgb(236, 236, 236);
}

#darkMode {
  
  background: transparent;
  background-size: 30px 30px;
  width: 35px;
  height: 35px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
}

body.light {
  --background-color: var(--light);
  --text-color: var(--dark);
}

body.dark {
  --background-color: var(--dark);
  --text-color: var(--light);
}

body {
  background: var(--background-color);
  color: var(--text-color);  
  transition:  color 0.6s ease-in-out;
}

.nav-link {
  color: var(--text-color) !important;
}

 .navbar-brand {
  color: var(--text-color) !important;
}

.btn {
  color: var(--text-color) !important;
}

.card {
  color: var(--text-color) !important;
  background: var(--background-color);
}

.table {
  color: var(--text-color) !important;
  background: var(--background-color);
}

.form-control {
  color: var(--text-color) !important;
  background: var(--background-color);
}
